$selected-tab: #ffec8b;
$normal-tab: #ececec;

$menu-bg: #111;
$menu-fg: #eee;

#kalvi-menu-inject {
  position: absolute;
  left: 88px;
  top: 0px;
  height: 50px;
  width: 50px;
  background-color: #f9690e;
  color: #fff;
  @include single-box-shadow(rgba(#333, 0.5), 3px, 1px, 1px);
  cursor: pointer;
  border-bottom-right-radius: 10px;
  border-top-right-radius: 10px;
  i {
    padding: 10px;
    text-shadow: 2px 1px 0px #111;
  }
}

#kalvi-menu {
    padding-left: 0px;
    position:fixed;
    left:-90px;
    top: 10vh;
    z-index: 9999;
    height: auto;
    ul {
        @include no-bullets;
	li {
	    @include transition-property(width);
	    @include transition-duration(0.2s);
	    clear: left;
	    width: 100%;
	    border: none;
            background: $normal-tab;
	    &.active {
		padding-bottom: 0;
		background: $selected-tab;
		width: 105%;
	        &:hover {
		    background: $selected-tab;
		}
	    }
	    div {
		font-family: 'Open Sans', sans-serif;
		font-weight: bold;
		text-shadow: 2px 1px 0px #fff;
		margin-top: 5%;
	    }
	    &:hover {
                background: darken($normal-tab, 5%);
		@include transition-property(width);
		@include transition-duration(0.2s);
		width: 105%;

            }
	    i {
		text-shadow: 2px 1px 0px #fff;
	    }
	    a {
		@include single-box-shadow(rgba(#333, 0.5), -4px, 13px, 11px);
		display:block;
		padding-top: 14%;
                height: 100%;
		padding-bottom: 14%;
		float: none;
		color: $menu-bg;
		text-align: center;
                font-size: 80%;
		&:focus {
		    outline: none;
		}
	    }

	}

    }
}

div.content > ul.admin-list li {
  @include gallery(6 of 12);
}
